body{
    background-color: aquamarine;padding: 10%;margin: auto
}
div{
    background-color: white;
    margin-left: 100px;
    height: 250px;
    width: 400px;
    text-align: center;
    padding: 40px
}
button{
    border: 3px solid grey;
    height: 30px;
    background-color: dimgrey;
    color: white;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
span{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 180px;
    background-color: red;
    color: black
}
h3{
    clear: both;
    margin-bottom: 20px;
}
input{
    width: 100%;
    margin-bottom: 30px;
    padding-left: 13px
}